<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Issue</title>
  <link rel="stylesheet" href="/css/style.css" />

</head>
<body>

<%- include('../partials/_navbar.ejs') %>

<h1> Sign Up Issue </h1>

<% if (userInDatabase) { %>
<p>There was an issue signing up! The username you chose is taken already.</p>
<% } else if (passwordMismatch) { %>
<p>There was an issue signing up! Make sure you match your passwords.</p>
<% } %>


<p> <a href="/auth/sign-up"> Try again! </a> </p>

<div class="logo">
<img src="../images/pitch-pulse-logo.png" alt="PitchPulse logo">
</div>

</body>
</html>