<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

  <%- include('../partials/_navbar.ejs') %>


    <% if (userInDatabase) { %>
    <h1> Sign Up Issue </h1>
    <p>There was an issue signing up! The username you chose is taken already.</p>
    <% } else if (passwordMismatch) { %>
    <h1> Sign Up Issue </h1>
    <p>There was an issue signing up! Make sure you match your passwords.</p>
    <% } %>


  <h1>CREATE ACCOUNT</h1>

  <p> Already registered? <a href="/auth/sign-in"> Sign in </a> </p>

  <form action="/auth/sign-up" method="POST">

    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" id="firstName" required />

    <label for="lastInitial">Last Initial:</label>
    <input type="text" name="lastInitial" id="lastInitial" required />

    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" name="confirmPassword" id="confirmPassword" required />
    
    <button type="submit">Create Account</button>

  </form>
</body>
</html>
