<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/style.css" />

</head>
<body>

<%- include('./partials/_navbar.ejs') %>

<div class="logo">
<img src="images/pitch-pulse-logo.png" alt="PitchPulse logo">
</div>

<p class="homepage-text"> Welcome to PitchPulse, your ultimate companion for tracking every moment of your soccer journey. 
  With our slogan “capture every pulse on the pitch,” PitchPulse makes it effortless to log goals, assists, results, and match details in one sleek interface.
   Whether you’re reviewing your season’s highlights or spotting trends in your performance, 
   PitchPulse turns raw data into game-changing insights so you can stay focused on what you do best: playing beautiful football.</p>


</body>
</html>
